<style>
    .ui.grid {
        margin: 0;
    }

    .ui.grid>.column:not(.row) {
        padding: 0;
    }

    .chat-page {
        height: 100%;
    }

    /* Profile Container */

    .user-profile-wrapper {
        background-color: #2B2C2D;
        z-index: 2;
    }

    .user-profile-wrapper.desktop {
        display: block !important;
    }

    .user-profile-wrapper.mobile {
        max-width: 375px;
        position: fixed !important;
        top: 0;
        right: -100%;
        bottom: 0;
        overflow-y: scroll;
        display: none;
    }

    .user-profile {
        padding: 35px 30px 35px 40px;
    }

    .user-profile .profile-header {
        text-align: center;
    }

    .user-profile .profile-img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }

    .user-profile .about-user {
        padding: 10px 0;
        text-align: center;
        color: white;
    }

    .user-profile .about-user h2 {
        font-size: 27px;
    }

    .user-profile .follow-btn {
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        color: white;
        background-color: #F4A933;
        text-transform: uppercase;
    }

    .user-profile .social-icons {
        margin-top: 30px;
        color: white;
    }

    .user-profile .social-icons .column:nth-child(even) .icon-div {
        justify-content: flex-end;
    }

    .user-profile .social-icons .column:nth-child(1) .icon-div i {
        color: #F4A933;
    }

    .user-profile .social-icons .column:nth-child(2) .icon-div {
        padding-right: 5px;
    }

    .user-profile .social-icons .icon-div {
        margin: 7px 0;
        display: flex;
        align-items: flex-start;
    }

    .user-profile .social-icons i {
        font-size: 27px;
        margin-right: 15px;
    }

    .user-profile .user-description {
        margin-top: 39px;
        background-color: #1B1B1D;
        border-radius: 5px;
        color: white;
    }

    .user-profile .description-text-container {
        padding: 14px 0px 14px 35px;
        position: relative;
    }

    .user-profile .description-text-container .quote {
        position: absolute;
        top: 0;
        left: 10px;
        font-size: 10px;
        color: #F4A933;
    }

    .user-profile .user-description p {
        font-size: 15px;
        position: relative;
    }

    .user-profile .user-description p::before {
        content: '';
        position: absolute;
        height: 100%;
        border: .5px solid #F4A933;
        left: -10px;
        bottom: 0;
        top: -5px;
        font-size: 15px;
    }

    .user-profile .profile-tab {
        margin-top: 30px;
    }

    .user-profile .ui.segment {
        padding: 0;
        background-color: transparent;
        border: none;
    }

    .user-profile .ui.tabular.menu {
        border-bottom: 1px solid #1B1B1D;
    }

    .user-profile .ui.tabular.menu .item:nth-child(1) {
        padding: 15px 15px 15px 5px;
    }

    .user-profile .ui.tabular.menu .item {
        padding: 15px 15px;
        color: white;
        text-transform: capitalize;
        font-size: 15px;
    }

    .user-profile .ui.tabular.menu .active.item {
        background-color: transparent;
        border: none;
        border-bottom: 3px solid #F4A933;
    }

    .user-profile .ui.tabular.menu+.attached:not(.top).segment,
    .user-profile .ui.tabular.menu+.attached:not(.top).segment+.attached:not(.top).segment {
        margin-top: 20px;
    }

    .user-profile .profile-tab .ui.grid {
        justify-content: space-between;
    }

    .user-profile .profile-tab .profile-box {
        max-width: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #1B1B1D;
        color: white;
        padding: 10px 0;
        border-radius: 5px;
    }

    .user-profile .profile-tab .profile-box span:nth-of-type(1) {
        margin-top: 5px;
    }

    .user-profile .profile-tab .arrow-up {
        width: 20px;
        height: 13px;
    }

    .user-profile .profile-badges {
        margin-top: 55px;
    }

    .user-profile .profile-badges h2 {
        color: white;
        font-size: 15px;
    }

    .user-profile .profile-badges .badge-icon {
        text-align: center;
        position: relative;
    }

    .user-profile .profile-badges .badge-icon::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        height: 13px;
        transform: translateY(-50%);
        border: .5px solid gray;
    }

    .user-profile .profile-badges .ui.grid {
        margin-top: 20px;
    }

    .user-profile .profile-badges .badge-icon img {
        width: 40px;
        height: 40px;
    }

    .user-profile .profile-badges .badge-icon.strategist img {
        height: 50px;
    }

    /* Profile Container */

    /* Chat Container */

    .converation-wrapper-container.desktop {
        display: block !important;
        background-color: #1B1B1D;
        z-index: 2;
    }

    .converation-wrapper-container.mobile {
        position: fixed !important;
        max-width: 100%;
        right: -100%;
        top: 0;
        bottom: 0;
        background-color: #1B1B1D;
    }

    .conversation-header {
        min-height: 80px;
        background-color: #2B2C2D;
        padding: 0px 20px 0px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .conversation-header .user-name-profile {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .conversation-header .user-name-profile img {
        width: 65px;
        height: 65px;
        border-radius: 50%;
    }

    .conversation-header .user-name-profile h2 {
        font-size: 20px;
        color: white;
        margin-top: 0;
        margin-left: 50px;
    }

    .conversation-header i {
        color: #9C9A92;
        font-size: 25px;
    }

    .conversation-body {
        padding: 50px 50px;
        height: calc(100vh - 160px);
        overflow-y: scroll;
    }

    .conversation-body .message {
        display: flex;
        align-items: flex-start;
        margin-bottom: 30px;
    }

    .conversation-body .message.reply {
        flex-direction: row-reverse;
    }

    .conversation-body .message img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }

    .conversation-body .message .text {
        margin-left: 30px;
        max-width: 600px;
        width: 100%;
        padding: 20px 10px 20px 30px;
        background-color: gray;
        border-radius: 20px 20px 20px 0;
    }

    .conversation-body .message.reply .text {
        margin-right: 30px;
        border-radius: 20px 20px 0px 20px;
    }

    .conversation-body .message .text .user-name-date {
        display: flex;
        align-items: center;
        color: white;
    }

    .conversation-body .message .user-name-date h2 {
        font-size: 18px;
        text-transform: uppercase;
        margin: 0;
    }

    .conversation-body .message .user-name-date span {
        font-size: 15px;
        text-transform: uppercase;
        margin-left: 20px;
        color: #ABAA97;
    }

    .conversation-body .message p {
        font-size: 14px;
        color: white;
    }

    .conversation-footer {
        background-color: #2B2C2D;
        padding: 5px;
        border: 1px solid #1B1B1D;
        color: #ABAA97;
    }

    .conversation-footer textarea {
        width: 100%;
        background-color: #1B1B1D;
        padding: 10px 30px;
        color: white;
        border: none;
        outline: none;
    }

    .conversation-footer .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
    }

    /* Chat Container */

    /* ********************* Azeem css start ********************* */
    .left-sidebar {
        height: 100%;
        background-color: #2B2C2D;
    }

    .left-sidebar .ui.search {
        display: flex;
        align-items: center;
    }

    .left-sidebar i.icon,
    .left-sidebar i.icons {
        font-size: 1em;
        color: #9C9A92;
        margin-right: -10px;
        position: absolute;
        left: 20px;
        z-index: 1;
        height: auto;
    }

    .ui.input {
        font-size: 1em;
        width: 100%;
    }

    .ui.icon.input>input {
        padding-left: 40px;
        background-color: #3E3F41;
        border-radius: 0px;
        width: 100%;
        color: #ffff;
        height: 60px;
    }

    .left-sidebar .user-chat {
        border-bottom: 2px solid #1B1B1D;
    }

    .left-sidebar .user-chat-content {
        display: flex;
        align-items: center;
        padding: 16px 20px;
        color: #F1F1F1;
    }

    .left-sidebar .user-points img {
        width: 15px;
        height: 15px;
    }

    .left-sidebar .user-img img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 0px 10px;
    }

    .left-sidebar .user-name {
        display: flex;
        align-items: center;
    }

    .left-sidebar .user-name h6 {
        font-size: 16px;
        font-weight: 700;
        margin-right: 10px;
    }

    .left-sidebar .user-medals-images {
        display: flex;
    }

    .left-sidebar .user-medal img {
        height: 15px;
        width: 15px;
        margin-left: 5px;
    }

    .left-sidebar .user-chat-time {
        color: #ACAB98;
        font-size: 14px;
    }

    .left-sidebar .user-badges {
        display: flex;
        padding: 0px 10px;
        margin: 5px auto;
    }

    /* Media Query */

    @media (max-width:992px) {

        .ui.grid>[class*="five wide"].column,
        .ui.grid>[class*="four wide"].column,
        .ui.grid>[class*="twelve wide"].column,
        .ui.grid>[class*="eleven wide"].column
        {
            width: 100% !important;
        }

        .converation-wrapper-container.desktop,
        .user-profile-wrapper.desktop {
            display: none !important;
        }

        .converation-wrapper-container.mobile,
        .user-profile-wrapper.mobile {
            right: 0;
        }

        .user-profile {
            padding: 35px 20px 35px 20px;
        }

        .user-profile .profile-header {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .user-profile .profile-header i {
            align-self: flex-start;
            color: #9C9A92;
            font-size: 25px;
        }

        .ui.stackable.grid>.wide.column.converation-wrapper-container.mobile {
            padding: 0 !important;
        }

        .conversation-header {
            padding: 0px 10px 0px 10px
        }

        .conversation-body {
            padding: 30px 10px;
        }

        .conversation-body .message {
            width: 100%;
            flex-direction: column;
        }

        .conversation-header .user-name-profile {
            cursor: pointer;
        }

        .conversation-body .message img {
            margin-bottom: 10px;
        }

        .conversation-body .message.reply {
            flex-direction: column;
        }

        .conversation-body .message.reply img {
            align-self: flex-end;
        }

        .conversation-body .message .text {
            width: 90%;
            margin: 0;
            border-radius: 0px 20px 20px 20px;
        }

        .conversation-body .message.reply .text {
            width: 90%;
            margin: 0;
            align-self: flex-end;
            border-radius: 20px 0px 20px 20px;
        }
    }
</style>
<section class="ui stackable grid chat-page">
    <!-- Chat Container -->
    <div class="twelve wide column" style="padding: 0 !important;">
        <div class="ui grid stackable" style="height: 100%;width: 100%; margin-left: 0 !important;">
            <!-- Users Chat -->
            <div class="five wide column" style="padding: 0 !important;">
                <div class="left-sidebar" (click)=toggleDisplayConversationIf()>
                    <div class="ui search">
                        <i class="search icon"></i>
                        <div class="ui icon input">
                            <input class="prompt" type="text" placeholder="Search here">
                        </div>
                        <div class="results"></div>
                    </div>
                    <div class="user-chat">
                        <div class="user-chat-content">
                            <div class="user-points">
                                <img src="/assets/icons/arrowup.png" alt="icon-image">
                                <div><span>+10</span></div>
                            </div>
                            <div class="user-img">
                                <img src="/assets/icons/Oval.png" alt="user-image">
                            </div>
                            <div class="about-user">
                                <div class="user-name">
                                    <h6>Jhon S.</h6>
                                    <span class="user-chat-time">
                                        Today at 7:44 PM
                                    </span>
                                </div>
                                <div class="user-badges">
                                    <div class="number-of-badges">
                                        +90
                                    </div>
                                    <div class="user-medals-images">
                                        <div class="user-medal">
                                            <img src="/assets/icons/12BadgeofValour1.png" alt="user-image">
                                        </div>
                                        <div class="user-medal">
                                            <img src="/assets/icons/14MedalOfMerit1.png" alt="user-image">
                                        </div>
                                        <div class="user-medal">
                                            <img src="/assets/icons/7RealTrader1.png" alt="user-image">
                                        </div>
                                        <div class="user-medal">
                                            <img src="/assets/icons/10Strategist1.png" alt="user-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="user-msg">
                                    <p>
                                        Lorem ipsum dummy text. .
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user-chat">
                        <div class="user-chat-content">
                            <div class="user-points">
                                <img src="/assets/icons/arrow-down-red.png" alt="icon-image">
                                <div><span>+10</span></div>
                            </div>
                            <div class="user-img">
                                <img src="/assets/icons/Oval.png" alt="user-image">
                            </div>
                            <div class="about-user">
                                <div class="user-name">
                                    <h6>Jhon S.</h6>
                                    <span class="user-chat-time">
                                        Today at 7:44 PM
                                    </span>
                                </div>
                                <div class="user-badges">
                                    <div class="number-of-badges">
                                        +90
                                    </div>
                                    <div class="user-medals-images">
                                        <div class="user-medal">
                                            <img src="/assets/icons/12BadgeofValour1.png" alt="user-image">
                                        </div>
                                        <div class="user-medal">
                                            <img src="/assets/icons/14MedalOfMerit1.png" alt="user-image">
                                        </div>
                                        <div class="user-medal">
                                            <img src="/assets/icons/7RealTrader1.png" alt="user-image">
                                        </div>
                                        <div class="user-medal">
                                            <img src="/assets/icons/10Strategist1.png" alt="user-image">
                                        </div>
                                    </div>
                                </div>
                                <div class="user-msg">
                                    <p>
                                        Lorem ipsum dummy text. .
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Users Chat -->
            <!-- Conversation Wrapper Desktop -->
            <div class="eleven wide column converation-wrapper-container desktop">
                <div class="conversation-wrapper">
                    <div class="conversation-header">
                        <div class="user-name-profile" (click)=toggleDisplayProfileIf()>
                            <img src="/assets/icons/profile.png" />
                            <h2>John Doe.</h2>
                        </div>
                        <i class="ellipsis vertical icon"></i>
                    </div>
                    <div class="conversation-body">
                        <div class="message">
                            <img src="/assets/icons/profile.png" />
                            <div class="text">
                                <div class="user-name-date">
                                    <h2> Jogn Doe</h2>
                                    <span> 3:20am</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos autem id
                                    perferendis minus magnam porro adipisci molestiae ipsam ipsa obcaecati
                                    ipsum,
                                    neque
                                    sint tempora dolor earum accusamus iste iure officia.</p>
                            </div>
                        </div>
                        <div class="message reply">
                            <img src="/assets/icons/profile.png" />
                            <div class="text">
                                <div class="user-name-date">
                                    <h2> Jogn Doe</h2>
                                    <span> 3:20am</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos autem id
                                    perferendis minus magnam porro adipisci molestiae ipsam ipsa obcaecati
                                    ipsum,
                                    neque
                                    sint tempora dolor earum accusamus iste iure officia.</p>
                            </div>
                        </div>
                        <div class="message">
                            <img src="/assets/icons/profile.png" />
                            <div class="text">
                                <div class="user-name-date">
                                    <h2> Jogn Doe</h2>
                                    <span> 3:20am</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos autem id
                                    perferendis minus magnam porro adipisci molestiae ipsam ipsa obcaecati
                                    ipsum,
                                    neque
                                    sint tempora dolor earum accusamus iste iure officia.</p>
                            </div>
                        </div>
                        <div class="message reply">
                            <img src="/assets/icons/profile.png" />
                            <div class="text">
                                <div class="user-name-date">
                                    <h2> Jogn Doe</h2>
                                    <span> 3:20am</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos autem id
                                    perferendis minus magnam porro adipisci molestiae ipsam ipsa obcaecati
                                    ipsum,
                                    neque
                                    sint tempora dolor earum accusamus iste iure officia.</p>
                            </div>
                        </div>
                        <div class="message">
                            <img src="/assets/icons/profile.png" />
                            <div class="text">
                                <div class="user-name-date">
                                    <h2> Jogn Doe</h2>
                                    <span> 3:20am</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos autem id
                                    perferendis minus magnam porro adipisci molestiae ipsam ipsa obcaecati
                                    ipsum,
                                    neque
                                    sint tempora dolor earum accusamus iste iure officia.</p>
                            </div>
                        </div>
                        <div class="message reply">
                            <img src="/assets/icons/profile.png" />
                            <div class="text">
                                <div class="user-name-date">
                                    <h2> Jogn Doe</h2>
                                    <span> 3:20am</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos autem id
                                    perferendis minus magnam porro adipisci molestiae ipsam ipsa obcaecati
                                    ipsum,
                                    neque
                                    sint tempora dolor earum accusamus iste iure officia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="conversation-footer">
                        <textarea name="" id="" placeholder="Type your message here"></textarea>
                        <div class="footer-bottom">
                            <div>
                                <i class="hashtag icon"></i>
                                <i class="dollar sign icon"></i>
                            </div>
                            <div>
                                <i class="hashtag icon"></i>
                                <i class="dollar sign icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Conversation Wrapper Mobile -->
            <div *ngIf="isShowConversationIf" class="twelve wide column converation-wrapper-container mobile">
                <div class="conversation-wrapper">
                    <div class="conversation-header">
                        <i class="arrow left icon" (click)=toggleDisplayConversationIf()></i>
                        <div class="user-name-profile" (click)=toggleDisplayProfileIf()>
                            <img src="/assets/icons/profile.png" />
                            <h2>John Doe.</h2>
                        </div>
                        <i class="ellipsis vertical icon"></i>
                    </div>
                    <div class="conversation-body">
                        <div class="message">
                            <img src="/assets/icons/profile.png" />
                            <div class="text">
                                <div class="user-name-date">
                                    <h2> Jogn Doe</h2>
                                    <span> 3:20am</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos autem id
                                    perferendis minus magnam porro adipisci molestiae ipsam ipsa obcaecati
                                    ipsum,
                                    neque
                                    sint tempora dolor earum accusamus iste iure officia.</p>
                            </div>
                        </div>
                        <div class="message reply">
                            <img src="/assets/icons/profile.png" />
                            <div class="text">
                                <div class="user-name-date">
                                    <h2> Jogn Doe</h2>
                                    <span> 3:20am</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos autem id
                                    perferendis minus magnam porro adipisci molestiae ipsam ipsa obcaecati
                                    ipsum,
                                    neque
                                    sint tempora dolor earum accusamus iste iure officia.</p>
                            </div>
                        </div>
                        <div class="message">
                            <img src="/assets/icons/profile.png" />
                            <div class="text">
                                <div class="user-name-date">
                                    <h2> Jogn Doe</h2>
                                    <span> 3:20am</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos autem id
                                    perferendis minus magnam porro adipisci molestiae ipsam ipsa obcaecati
                                    ipsum,
                                    neque
                                    sint tempora dolor earum accusamus iste iure officia.</p>
                            </div>
                        </div>
                        <div class="message reply">
                            <img src="/assets/icons/profile.png" />
                            <div class="text">
                                <div class="user-name-date">
                                    <h2> Jogn Doe</h2>
                                    <span> 3:20am</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos autem id
                                    perferendis minus magnam porro adipisci molestiae ipsam ipsa obcaecati
                                    ipsum,
                                    neque
                                    sint tempora dolor earum accusamus iste iure officia.</p>
                            </div>
                        </div>
                        <div class="message">
                            <img src="/assets/icons/profile.png" />
                            <div class="text">
                                <div class="user-name-date">
                                    <h2> Jogn Doe</h2>
                                    <span> 3:20am</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos autem id
                                    perferendis minus magnam porro adipisci molestiae ipsam ipsa obcaecati
                                    ipsum,
                                    neque
                                    sint tempora dolor earum accusamus iste iure officia.</p>
                            </div>
                        </div>
                        <div class="message reply">
                            <img src="/assets/icons/profile.png" />
                            <div class="text">
                                <div class="user-name-date">
                                    <h2> Jogn Doe</h2>
                                    <span> 3:20am</span>
                                </div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos autem id
                                    perferendis minus magnam porro adipisci molestiae ipsam ipsa obcaecati
                                    ipsum,
                                    neque
                                    sint tempora dolor earum accusamus iste iure officia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="conversation-footer">
                        <textarea name="" id="" placeholder="Type your message here"></textarea>
                        <div class="footer-bottom">
                            <div>
                                <i class="hashtag icon"></i>
                                <i class="dollar sign icon"></i>
                            </div>
                            <div>
                                <i class="hashtag icon"></i>
                                <i class="dollar sign icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Profile Container For Desktop -->
    <div class="four wide column user-profile-wrapper desktop">
        <div class="user-profile">
            <div class="profile-header">
                <img src="/assets/icons/profile.png" class="profile-img" />
                <div class="about-user">
                    <h2>Jhon S.</h2>
                    <button class="follow-btn"><i class="plus icon"></i> Follow</button>
                </div>
            </div>
            <div class="social-icons">
                <div class="ui grid">
                    <div class="eight wide column">
                        <div class="icon-div">
                            <i class="user icon"></i>
                            10,000
                        </div>
                    </div>
                    <div class="eight wide column">
                        <div class="icon-div insta">
                            <i class="instagram icon"></i>
                            Instagram
                        </div>
                    </div>
                    <div class="eight wide column">
                        <div class="icon-div">
                            <i class="twitter icon"></i>
                            Twitter
                        </div>
                    </div>
                    <div class="eight wide column">
                        <div class="icon-div">
                            <i class="globe icon"></i>
                            loman.com
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-description">
                <div class="description-text-container">
                    <i class="quote left icon"></i>
                    <p>
                        Lorem ipsum is simply dummy text of the printing and typesetting industry
                    </p>
                </div>
            </div>
            <div class="profile-tab">
                <div class="ui top attached tabular menu">
                    <a class="item active" data-tab="first">Profile</a>
                    <a class="item" data-tab="second">About me</a>
                </div>
                <div class="ui bottom attached tab segment active" data-tab="first">
                    <div class="ui grid">
                        <div class="three wide column">
                            <div class="profile-box">
                                <img src="/assets/icons/arrowup.png" class="arrow-up">
                                <span>+90</span>
                                <span>Total</span>
                            </div>
                        </div>
                        <div class="three wide column">
                            <div class="profile-box">
                                <img src="/assets/icons/arrowup.png" class="arrow-up">
                                <span>+90</span>
                                <span>Total</span>
                            </div>
                        </div>
                        <div class="three wide column">
                            <div class="profile-box">
                                <img src="/assets/icons/arrowup.png" class="arrow-up">
                                <span>+90</span>
                                <span>Total</span>
                            </div>
                        </div>
                        <div class="three wide column">
                            <div class="profile-box">
                                <img src="/assets/icons/arrowup.png" class="arrow-up">
                                <span>+90</span>
                                <span>Total</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui bottom attached tab segment" data-tab="second">
                </div>
            </div>
            <div class="profile-badges">
                <h2>Badges</h2>

                <div class="ui grid">
                    <div class="four wide column">
                        <div class="badge-icon">
                            <img src="/assets/icons/12BadgeofValour1.png" />
                        </div>
                    </div>
                    <div class="four wide column">
                        <div class="badge-icon">
                            <img src="/assets/icons/14MedalOfMerit1.png" />
                        </div>
                    </div>
                    <div class="four wide column">
                        <div class="badge-icon">
                            <img src="/assets/icons/7RealTrader1.png" />
                        </div>
                    </div>
                    <div class="four wide column">
                        <div class="badge-icon strategist">
                            <img src="/assets/icons/10Strategist1.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Profile Container For Mobile -->
    <div *ngIf="isShowDivIf" class="four wide column user-profile-wrapper mobile">
        <div class="user-profile">
            <div class="profile-header">
                <i class="arrow left icon" (click)=toggleDisplayProfileIf()></i>
                <img src="/assets/icons/profile.png" class="profile-img" />
                <div class="about-user">
                    <h2>Jhon S.</h2>
                    <button class="follow-btn"><i class="plus icon"></i> Follow</button>
                </div>
            </div>
            <div class="social-icons">
                <div class="ui grid">
                    <div class="eight wide column">
                        <div class="icon-div">
                            <i class="user icon"></i>
                            10,000
                        </div>
                    </div>
                    <div class="eight wide column">
                        <div class="icon-div insta">
                            <i class="instagram icon"></i>
                            Instagram
                        </div>
                    </div>
                    <div class="eight wide column">
                        <div class="icon-div">
                            <i class="twitter icon"></i>
                            Twitter
                        </div>
                    </div>
                    <div class="eight wide column">
                        <div class="icon-div">
                            <i class="globe icon"></i>
                            loman.com
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-description">
                <div class="description-text-container">
                    <i class="quote left icon"></i>
                    <p>
                        Lorem ipsum is simply dummy text of the printing and typesetting industry
                    </p>
                </div>
            </div>
            <div class="profile-tab">
                <div class="ui top attached tabular menu">
                    <a class="item active" data-tab="first">Profile</a>
                    <a class="item" data-tab="second">About me</a>
                </div>
                <div class="ui bottom attached tab segment active" data-tab="first">
                    <div class="ui grid">
                        <div class="three wide column">
                            <div class="profile-box">
                                <img src="/assets/icons/arrowup.png" class="arrow-up">
                                <span>+90</span>
                                <span>Total</span>
                            </div>
                        </div>
                        <div class="three wide column">
                            <div class="profile-box">
                                <img src="/assets/icons/arrowup.png" class="arrow-up">
                                <span>+90</span>
                                <span>Total</span>
                            </div>
                        </div>
                        <div class="three wide column">
                            <div class="profile-box">
                                <img src="/assets/icons/arrowup.png" class="arrow-up">
                                <span>+90</span>
                                <span>Total</span>
                            </div>
                        </div>
                        <div class="three wide column">
                            <div class="profile-box">
                                <img src="/assets/icons/arrowup.png" class="arrow-up">
                                <span>+90</span>
                                <span>Total</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui bottom attached tab segment" data-tab="second">
                </div>
            </div>
            <div class="profile-badges">
                <h2>Badges</h2>

                <div class="ui grid">
                    <div class="four wide column">
                        <div class="badge-icon">
                            <img src="/assets/icons/12BadgeofValour1.png" />
                        </div>
                    </div>
                    <div class="four wide column">
                        <div class="badge-icon">
                            <img src="/assets/icons/14MedalOfMerit1.png" />
                        </div>
                    </div>
                    <div class="four wide column">
                        <div class="badge-icon">
                            <img src="/assets/icons/7RealTrader1.png" />
                        </div>
                    </div>
                    <div class="four wide column">
                        <div class="badge-icon strategist">
                            <img src="/assets/icons/10Strategist1.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>