<style>
    .ui.grid {
        margin: 0 !important;
    }

    .ui.grid>.column:not(.row) {
        padding: 0;
    }

    .chat-page {
        border: 1px solid red;
    }

    .column {
        border: 1px solid black;
    }

    .user-profile {
        min-height: 80vh;
        background-color: red;
    }
</style>
<section class="chat-page ui container">
    <div class="ui grid">
        <div class="twelve wide column">
            <div class="ui grid">
                <div class="four wide column"></div>
                <div class="twelve wide column"></div>
            </div>
        </div>
        <div class="four wide column">
            <div class="user-profile">
                <div class="profile-img">
                    <img src="/assets/icons/profile.png" />
                </div>
            </div>
        </div>
    </div>
</section>