<div class="app">
  <header id="main-header" class="app-bar">
    <div class="ui secondary  menu">
      <a class="logo-link">
        <img src="assets/icons/Group-01.png" /> <span class="main-logo">SGTR</span>
      </a>
      <div class="icon-items">
        <a class="item">
          <div class="message">
            <img src="assets/icons/subtract-message.png" class="header-icon" /><span></span>
          </div>
        </a>
        <a class="item">
          <div class="message">
            <img src="assets/icons/subtract-message.png" class="header-icon" /><span></span>
          </div>
        </a>
        <a class="item">
          <img src="assets/icons/union.png" class="header-icon" />
        </a>
        <a class="item">
          <img src="assets/icons/subtract.png" class="header-icon" />
        </a>
        <a class="item">
          <img src="assets/icons/union-icon.png" class="header-icon" />
        </a>
        <a class="item">
          <img src="assets/icons/Group-1942.png" class="header-icon" />
        </a>
        <a class="item">
          <img src="assets/icons/icon-user.png" class="icon-user" />
        </a>
        <a class="item">
          <img src="assets/icons/news.png" class="header-icon" />
        </a>
      </div>
      <div class="right menu">
        <div class="ui icon right-icons">
          <a class="item">
            <div class="notification-message">
              <i class="bell icon"></i><span></span>
            </div>
          </a>
          <a class="item">
            <div class="up-arrow">
              <img src="assets/icons/group-1906.png" class="header-icon" />
              <span>+50</span>
            </div>
          </a>
          <div class="current-profile">
            <a class="profile-img">
              <img src="assets/icons/group-14.png" class="profileimg" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>